[Unit]
Description=Speech-to-text service using Whisper (mouse button 4 push-to-talk)

[Service]
ExecStart=/home/archduke/coding/python/venv/whisper-stt/bin/python /home/archduke/coding/python/whisper-stt/speech_to_text.py
WorkingDirectory=/home/archduke/coding/python/whisper-stt
Environment=TORCH_ROCM_AOTRITON_ENABLE_EXPERIMENTAL=1
Restart=on-failure
[Install]
WantedBy=default.target